{{#if courses}}
    <h2>Filter</h2>
    <div class="content">
        <form method="GET" action="/">
            {{#each courses}}
                <input type="checkbox" name="filter" value="{{this._id}}">
                <span style="color:{{this.color}}">{{this.name}}</span><br />
            {{/each}}
            <br />
            <input type="submit" value="Filter">
        </form>
    </div>
    <hr>
    {{#if overdue}}
        <h2>Overdue</h2>
        <div>
        {{#each overdue}}
            {{#each this}}
                {{#if @first}}
                    <h3>{{this}}</h3>
                    <div class="pure-g">
                {{else}}
                    <div class="assignment pure-u-1 pure-u-md-1-2 pure-u-lg-1-4" style="background-color:{{this.color}}">
                        <h4>{{this.title}}</h4>
                        <p>{{this.details}}</p>
                    </div>
                {{/if}}
            {{/each}}
        </div>
        {{/each}}
        </div>
    {{/if}}
    {{#if upcoming}}
        <h2>Upcoming</h2>
        <div class="content">
        {{#each upcoming}}
            <dl>
                {{#each this}}
                    {{#if @first}}
                        <h3>{{this}}</h3>
                        <div class="pure-g">
                    {{else}}
                        <div class="assignment pure-u-1 pure-u-md-1-2 pure-u-lg-1-4" style="background-color:{{this.color}}">
                            <h4>{{this.title}}</h4>
                            <p>{{this.details}}</p>
                        </div>
                    {{/if}}
                {{/each}}
            </dl>
        {{/each}}
        </div>
    {{/if}}

{{else}}
    <p>
        Add an assignment to a course first!
    </p>
{{/if}}
